@media (min-width: 501px)
{
	body {
		font-family:Verdana,sans-serif;
		font-size:100%;
	}

	header,footer,section,article, aside{
		border:1px solid grey;
		margin:5px;
		margin-bottom:15px;
		padding:8px;
		background-color:white;
	}

	header,footer {
		clear: both;
		color:white;background-color:#444;margin-bottom:5px;
	}

	section {
		background-color:#ddd;
		float: left;
		width: 60%;
	}

	aside {
		background-color:silver;
		margin-left: 62.5%;
		width: 35.7%;
	}

	footer {
		float: bottom;
	}

	nav {
		margin-left: 8px;
	}

	nav ul{
		margin: 0;
		padding: 0;
	}

	nav ul li{
		display:inline;
		padding: 0 2%;
		margin: 0;
		border-left: 2px solid black;
	}

	nav ul li:first-child{
		border-width: 0px;
	}

	/* */

}